[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask= "*"
flask_cors = "*"
gunicorn = "*"
torch = "*"
torchtext = "*"
spacy = "*"

[requires]
python_version="3.8.2"

[dev-packages]
pylint = "*"
flake8 = "*"
